
html {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

.page_top {
	background-image: url('../images/the-flatiron-building.png');
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 18px;
	font-weight: bold;
}
	
h1 {
	color: white;
	font-size: 70px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

.design_ny {
	color: white;
	background-image: url('../images/the-flatiron-building.png')
}

.page_bottom {
	background: dimgray;
	color: white;
	text-align: left;
	font-size: 11px;
}

a {
	color: white;
}


	